// type: @mixin

@import "layout/_grid";

/// @name layout-button
///
/// @output
///   .button-class { ... }
///   .button-class.grid-value { ... }
///   .button-class.color-value { ... }
///
/// @example
///   .ui-button {
///	    @include layout-button;
///   }
@mixin layout-button() {
	@extend %layout-grid;
	width: 100%;
	height: 40px;
	border-radius: 1px;
	border: 1px solid #ced3d7;
	// TODO: .disabled, :disabled 사용 조건 확인 필요
	&:disabled {
		color: #999999;
		border-color: #dfdfdf;
	}
	// color value
	&.navy {
		background-color: #424d5d;
		color: #fff;
		border-color: #424d5d;
	}
	&.white {
		background: #fff;
		color: #222222;
		border-color: #ced3d7;
	}
	&.orange {
		background-color: #ff6633;
		color: #fff;
		border-color: #e55c2e;
	}
	&.light-gray {
		background-color: #f9f9f9;
		color: #222222;
	}
	&.dark-gray {
		background-color: #a5aeb7;
		border: 1px solid #949ba5;
		color: #fff;
	}
}

/// @name button-group
///
/// @example
///   .button-group {
///	    @extend %layout-button;
///   }
@mixin button-group() {
	font-size: 0;
	margin-bottom: 10px;
	> div {
		@extend %layout-grid;
		box-sizing: border-box;
		display: inline-block;
		padding-left: 4px;
		&:first-child {
			padding-left: 0;
		}
		button {
			box-sizing: border-box;
			vertical-align: middle;
			padding: 0 10px;
		}
	}
	&.submit {
		> div {
			padding-left: 8px;
			&:first-child {
				padding-left: 0;
			}
			button {
				height: 48px;
			}
		}
	}
}
